<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="RootContentServerPath" value="\\devdb2\contentshare\ContentServer\Content\RoadsSection"/>
    <add key="BaseUri" value="http://roads.advancedacademics.com"/>
    <add key="ErrorLogPath" value="errorlog.txt" />
    <add key="ManualFixLogPath" value="manualfix.csv" />
    <add key="ChangedLogPath" value="changed.csv" />

    <!-- Add the name of all valid shares on the content server here -->
    <add key="ValidShares" value="/coursecontent, /_media, /contentserver" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
